<TMPL_INCLUDE NAME="header.tmpl">

<h2><MT_TRANS phrase="Category">: <span class="title-highlight"><TMPL_VAR NAME=LABEL ESCAPE=HTML></span></h2>

<p><MT_TRANS phrase="Use this page to edit the attributes of the category [_1]. You can set a description for your category to be used in your public pages, as well as configuring the TrackBack options for this category." params="<TMPL_VAR NAME=LABEL ESCAPE=HTML>"></p>

<TMPL_IF NAME=SAVED>
<div class="message"><MT_TRANS phrase="Your category changes have been made."> <TMPL_INCLUDE NAME="rebuild-stub.tmpl"></div>
</TMPL_IF>

<form method="post" action="<TMPL_VAR NAME=SCRIPT_URL>">
<input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>" />
<input type="hidden" name="__mode" value="save" />
<input type="hidden" name="_type" value="category" />
<input type="hidden" name="id" value="<TMPL_VAR NAME=ID>" />
<input type="hidden" name="return_args" value="<TMPL_VAR NAME=RETURN_ARGS ESCAPE=HTML>" />
<input type="hidden" name="magic_token" value="<TMPL_VAR NAME=MAGIC_TOKEN>" />

<p><label class="bold" for="label"><MT_TRANS phrase="Category Label"></label> <a href="#" onclick="return openManual('categories', 'category_label')" class="help">?</a><br />
<input type="text" name="label" id="label" maxlength="100" value="<TMPL_VAR NAME=LABEL ESCAPE=HTML>" /></p>

<p><label class="bold" for="description"><MT_TRANS phrase="Category Description"></label> <a href="#" onclick="return openManual('categories', 'category_description')" class="help">?</a><br />
<textarea name="description" id="description" rows="5" cols="60"><TMPL_VAR NAME=DESCRIPTION ESCAPE=HTML></textarea></p>

<h3><MT_TRANS phrase="TrackBack Settings"></h3>

<h4 class="blue-bar"><MT_TRANS phrase="Outbound TrackBacks"></h4>

<p><label class="bold" for="ping_urls"><MT_TRANS phrase="Outbound TrackBack URLs"></label> <a href="#" onclick="return openManual('categories', 'categories_urls_to_ping')" class="help">?</a></p>

<p><MT_TRANS phrase="Enter the URL(s) of the websites that you would like to send a TrackBack to each time you post an entry in this category. (Separate URLs with a carriage return.)"><br />
<textarea name="ping_urls" id="ping_urls" rows="5" cols="50"><TMPL_VAR NAME=PING_URLS ESCAPE=HTML></textarea></p>

<h4 class="blue-bar"><MT_TRANS phrase="Inbound TrackBacks"></h4>

<p><strong><MT_TRANS phrase="Accept inbound TrackBacks?"></strong> <a href="#" onclick="return openManual('categories', 'accept_category_pings')" class="help">?</a><br />
<label class="bold"><input type="radio" name="allow_pings" value="1"<TMPL_IF NAME=ALLOW_PINGS> checked="checked"</TMPL_IF> /> <MT_TRANS phrase="On"></label>
&nbsp;&nbsp;
<label class="bold"><input type="radio" name="allow_pings" value="0"<TMPL_UNLESS NAME=ALLOW_PINGS> checked="checked"</TMPL_UNLESS> /> <MT_TRANS phrase="Off"></label></p>

<TMPL_IF NAME=TB_URL>
<p><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=list_pings&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>&amp;filter=category_id&amp;filter_val=<TMPL_VAR NAME=ID>"><MT_TRANS phrase="View the inbound TrackBacks on this category."></a></p>

<p><label class="bold" for="tb_passphrase"><MT_TRANS phrase="Passphrase Protection (Optional)"></label> <a href="#" onclick="return openManual('categories', 'trackback_passphrase_protection')" class="help">?</a><br />
<input name="tb_passphrase" id="tb_passphrase" value="<TMPL_VAR NAME=TB_PASSPHRASE ESCAPE=HTML>" /></p>

<p><strong><MT_TRANS phrase="TrackBack URL for this category"></strong><br />
<MT_TRANS phrase="This is the URL that others will use to send TrackBacks to your weblog. If you wish for anyone to send TrackBacks to your weblog when they have a post specific to this category, post this URL publicly. If you choose to only allow a select group of individuals to TrackBack, send this URL to them privately."></p>

<h3><TMPL_VAR NAME=TB_URL ESCAPE=HTML></h3>

<p><MT_TRANS phrase="To include a list of incoming TrackBacks in your Main Index Template, check the documentation for template tags related to TrackBacks."></p>

</TMPL_IF>

<hr />

<div align="center">
<input accesskey="s" type="submit" value="<MT_TRANS phrase="Save Changes">" title="<MT_TRANS phrase="Save changes (s)">" />
</div>

</form>

<TMPL_IF NAME=PLUGIN_ACTION_LOOP>
<div class="box" id="plugin-actions-box">
<h4><MT_TRANS phrase="Plugin Actions"></h4>
<div class="inner">
<ul>
<TMPL_LOOP NAME=PLUGIN_ACTION_LOOP>
<li><a href="<TMPL_VAR NAME=PAGE>;from=edit_category;id=<TMPL_VAR NAME=ID>;blog_id=<TMPL_VAR NAME=BLOG_ID>"><TMPL_VAR NAME=LINK_TEXT></a></li>
</TMPL_LOOP>
</ul>
</div>
</div>
</TMPL_IF>

<TMPL_INCLUDE NAME="footer.tmpl">
