<div class="list-actions">
<div class="button-bar">
<input type="button" onclick="window.location='<TMPL_VAR NAME=SCRIPT_URL>?__mode=reset_log&amp;magic_token=<TMPL_VAR NAME=MAGIC_TOKEN>&amp;return_args=<TMPL_VAR NAME=RETURN_ARGS ESCAPE=URL>'" value="<MT_TRANS phrase="Reset Activity Log">" />
</div>
</div>
