/* 

	Author: Phil Balchin
	Client: Ewhurst Cricket Club
	(c)2005 Next Century Systems

Main HTML Tags --------------------------- */

body
{
	margin: 0px;
	padding: 0px;
	
	font: normal normal normal 80%/1.5em Arial, Helvetica, sans-serif;
	background: #882828 url(/ecc/img/body-background.jpg) repeat-x scroll top center;
	
}

h1
{
	margin: 0px;
	padding: 0px;
	color: #666;
	text-align: center;
	font: normal normal normal 2/1em Arial, Helvetica, sans-serif;
	font-weight: lighter;
	
}

h2
{
	margin: 0.5em 0px 1em 0px;
	padding: 0px;
	
	color: #666;
	
	font-size: 0.8em;
	font-weight: lighter;
	
	text-align: center;
	text-transform: uppercase;
}

h3
{
	margin: 0.5em 0px 0.5em 0px;
	padding: 0px;
	
	color: #882828;
	font-size: 1em;
	font-weight: normal;
	
	text-align: left;
}

h4
{
}

p
{
	margin: 0em 4m 1em 4em;
	padding: 0px;
	
	color: #444;
}

a, a:link
{
	margin: 0px;
	padding: 0px;

	color: #882828;
	
	background-color: transparent;
	border: none;

	text-decoration: underline;
}
a:visited
{
	color: #882222;
	background-color: transparent;
}
a:hover
{
	color: #882828;
	background-color: transparent;
	text-decoration: none;
}
a:active
{
	background-color: #900;
	color: #fff;
}

/* List Styles ------------------------------- */

ul
{
	list-style: none inside url(../img/bullit.gif);
}

ul li
{
	margin: 5px 0px;
	padding: 0px 0px 0px 15px;
}

/* Tools ------------------------------- */

hr.ClearAll
{
	clear: both;
}

/* Document Styles ------------------------------- */

#Wrapper
{
	margin: 0px auto;
	padding: 0px;
	width: 760px;
	background: none;
	text-align:left;
	position: relative;
}
#Wrapper.Relative
{
}
#Wrapper.Fluid
{
}

#MastHead
{
	margin: 0px;
	padding: 0px;
	
	width: 760px;
	height: 100px;
	background: transparent url(/ecc/img/masthead-logo.jpg) no-repeat scroll top center;
}
#MastHead img
{
	display: none;
}

#DocumentWrapper
{
	margin: 0px 0px 0px 0px;
	background: #fff url(/ecc/img/page-left.jpg) repeat-y scroll top left;
	
	position: relative;
}

#Document
{
	background: transparent url(/ecc/img/page-right.jpg) repeat-y scroll top right;
}

#DocumentContent
{
	margin: 0px;
	padding: 60px 60px 0px 60px;
	background: transparent url(/ecc/img/page-top.jpg) no-repeat scroll top center;
}
#BodyHome #DocumentContent
{
	margin: 0px;
	padding: 380px 0px 0px 0px;
	background: transparent url(/ecc/img/page-top.jpg) no-repeat scroll top center;
}

#DocumentFooter
{
	margin: 0px 0px 50px 0px;
	padding: 0px;
	width: 100%;
	height: 80px;
	clear: both;
	background: transparent url(/ecc/img/page-bottom.jpg) no-repeat scroll bottom center;
}
#DocumentFooter p
{
	margin: 10px 60px 0px 60px;
	padding: 10px 0px 0px 0px;
	
	color: #999;
	font-size: 0.8em;
	line-height: 1.5em;
	
	border-top: 1px solid #ccc;
}

#DocumentFooter p a, #DocumentFooter p a:link, #DocumentFooter p a:visited
{
	color: #999;
	text-decoration: underline;
	background: none;
}
#DocumentFooter p a:hover
{
	color: #fff;
	background-color: #999;
	text-decoration: none;
}

/* DocumentContent Styles --------------------=---------------- */

#WelcomeIntroduction
{
	margin: 0px 60px 20px;
	padding: 10px 50px;
	
	background: #eee url(/ecc/img/body-background.jpg) repeat-x scroll top center;
	
	color: #333;
}



/* ECCExplorer : Navigation ----------------------------------- */

#ECCExplorer
{
	margin:  0px;
	padding: 0px;
	
	width: auto;
	height: 50px;
	
	text-align: center;
}

#ECCExplorer ul
{
	margin: 0px auto;
	padding: 0px;
	
	background: none;
	list-style: none;
	
	width: 760px;
	height: 50px;
	text-align: left;
}

#ECCExplorer ul li
{
	margin: 0px 20px 0px 0px;
	padding: 0px;
	
	list-style: none;
	display: inline;
	
	width: 100px;
	height: 50px;
	float: left;
}
#ECCExplorer ul li#ECCHome
{
	margin-left: 90px;
}

#ECCExplorer ul li a, #ECCExplorer ul li a:link, #ECCExplorer ul li a:visited
{
	margin: 0px;
	padding: 0px;
	
	width: 100px;
	height: 40px;
	
	display: block;
	
	background: none;
	text-align: center;
}
#ECCExplorer ul li a:hover
{
}
#ECCExplorer ul li a:active
{
}


li#ECCHome a
{
	background-image: url(/ecc/img/nav-home.gif) !important;
}
li#ECCHome a:hover
{
	background-image: url(/ecc/img/nav-home-over.gif) !important;
}

li#ECCAbout a
{
	background-image: url(/ecc/img/nav-about.gif) !important;
}
li#ECCAbout a:hover
{
	background-image: url(/ecc/img/nav-about-over.gif) !important;
}

li#ECCFixtures a
{
	background-image: url(/ecc/img/nav-fixtures.gif) !important;
}
li#ECCFixtures a:hover
{
	background-image: url(/ecc/img/nav-fixtures-over.gif) !important;
}

li#ECCPhotos a
{
	background-image: url(/ecc/img/nav-photos.gif) !important;
}
li#ECCPhotos a:hover
{
	background-image: url(/ecc/img/nav-photos-over.gif) !important;
}

li#ECCContact a
{
	background-image: url(/ecc/img/nav-contact.gif) !important;
}
li#ECCContact a:hover
{
	background-image: url(/ecc/img/nav-contact-over.gif) !important;
}

#BodyHome #ECCHome, #BodyAbout #ECCAbout, #BodyFixtures #ECCFixtures, #BodyPhotos #ECCPhotos, #BodyContact #ECCContact
{
	background-image: url(/ecc/img/nav-select.gif);
	background-attachment: scroll;
	background-position: bottom center;
	background-repeat: no-repeat;
}

#ECCExplorer ul li a span
{
	display: none;
}

/* ECC Feature ------------------------------------ */

#ECCFeature
{
	margin: 0px;
	padding: 0px;
	display: block;

	position: absolute;
	top: 57px;
	left: 57px;
	
	width: 644px;
	height: 304px;
	
	background-color: #fff;
	border: 1px solid #ccc;
}
#ECCFeature a
{
	margin: 0px;
	padding: 0px;
	
	display: block;
	position: absolute;
	top: 2px;
	left: 2px;

	width: 640px;
	height: 300px;
	
	text-decoration: none;
	background: none;
	border: none;
}
#ECCFeature a.white:hover
{
	background: transparent url(/ecc/features/over-white.gif) no-repeat scroll center center;
}
#ECCFeature a.black:hover
{
	background: transparent url(/ecc/features/over-black.gif) no-repeat scroll center center;
}
#ECCFeature img
{
	margin: 2px;
	padding: 0px;
}


/* Site Updates ---------------------------------------- */

#SiteUpdates
{
	margin: 0px auto 20px;
	padding: 0px;

	position: relative;

	width: 660px;
	height: 120px;
	
	background: transparent url(/ecc/img/hr-siteupdates.gif) no-repeat scroll top center;	
}
#SiteUpdates ul
{
	margin: 0px 0px 0px 0px;
	padding: 0px;

	position: relative;
	top: 20px;
	
	list-style: none;

	height: 100px;

	background: transparent url(/ecc/img/hr-eccupdates.gif) no-repeat scroll bottom center;
}
#SiteUpdates ul li
{
	margin: 0px 9px 0px 9px;
	padding: 0px;

	display: inline;
	float: left;

	width: 200px;
	height: 80px;
	border: 1px solid green;
}
#SiteUpdates ul li a, #SiteUpdates ul li a:link, #SiteUpdates ul li a:visited
{
	margin: 2px;
	padding: 0px;

	display: block;
	width: 196px;
	height: 76px;
	
	background-color: blue;
}
#SiteUpdates ul li a:hover
{
	background-color: purple;
}

/* UI Extras ------------------------------------------- */

#ChampionBanner
{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 144px;
	height: 144px;
	background: transparent url(/ecc/img/champ-banner.gif) no-repeat scroll top right;
}
#ChampionBanner p
{
	display: none;
}

/* Modules / Sidebar Things -------------------------- */

.Module
{
	margin: 0px 0px 30px 0px;
	padding: 0px;
	
	width: 230px;
	
	position: relative;
	left: 470px;
}

.ModuleList
{
}

.ModuleListItem
{
}


/* Blog Styles --------------------------------------- */

.Entry
{
	margin: 0px 0px 50px 0px;
	padding: 0px;
	
	display: inline;
	position: relative;
	left: -310px;
	
	float: right;
	clear: right;
	
	width: 390px;
}

.EntryNav
{
	margin: 0px;
	padding: 0px;

	text-align: center;

	position: relative;
	top: -25px;
}
.EntryNav a, .EntryNav a:link, .EntryNav a:visited
{
	background-color: transparent;
	color: #999;
	font: normal normal normal 0.8em/1em Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
}
.EntryNav a:hover
{
	color: #fff;
	background-color: #999;
	text-decoration: none;
}

#Comments
{
	margin: 25px 0px 0px 0px;
}

#PostedComments
{
	margin: 0px 0px;
	padding: 0px;
	position: relative;
	left: -60px;
	width: 760px;
	list-style: none inside none;
}

#PostedComments li
{
	margin: 10px auto;
	padding: 0px;
	width: 450px;
	
	border-bottom: 1px solid #eee;
}
#PostedComments li p
{
	margin: 5px 25px;
	padding: 0px;
}

.CommentInfo
{
	color: #999;
}

#CommentsForm
{
	margin: 25 0px 0px 0px;
	padding: 0px;
	
	border: 1px solid #ddd;
	background-color: #f7f7f7;
}

#CommentsForm h2
{
	margin-top: 20px;
	color: #333;
}

.CommentsModerated
{
	margin: 10px 30px 20px 30px;
	padding: 0px;
	
	color: #999;
	font-size: 0.8em;
	line-height: 1.2em;
}

#CommenterName, #CommenterEmail, #CommenterUrl, #CommenterCookie
{
	margin: 0px 30px 12px 0px;
	padding: 0px;
	
	display: inline;
	float: right;
	clear: both;
	width: 275px;
	
	position: relative;
	left: -305px;
}

#CommenterName label, #CommenterEmail label, #CommenterUrl label, #CommenterMessage label
{
	margin: 0px;
	padding: 0px;
	display: block;
	width: 275px;
	
	
	color: #444;
	font-size: 0.8em;
	text-transform: uppercase;
}
#CommenterName input, #CommenterEmail input, #CommenterUrl input, #CommenterMessage textarea
{
	margin: 0px;
	padding: 2px;
	display: block;
	width: 269px;
	vertical-align: middle;
	
	border: 1px solid #999;
	background-color: #fff;
	
}

#CommenterMessage
{
	margin: 0px 0px 0px 30px;
	padding: 0px;
	width: 275px;
	position: relative;
	left: 304px;
}
#CommenterMessage label
{
	width: 275px;
}
#CommenterMessage textarea
{
	margin: 0px !important;
	padding: 0px;

	position: absolute;
	left: 0px;
}

#CommentsSubmit
{
	margin: 30px 0px 30px 0px;
	padding: 0px;
	clear: both;
	
	width: 305px;
	
	text-align: right;
}
#CommentsSubmit input
{
	margin: 0px 0px 0px 10px;
}



/*
	Gallery Styles
*/

#GalleryPath
{
	margin: 0px 0px 30px 0px;
	padding: 3px;
	
	background-color: #f5f5f5;
	border: 1px solid #eee;

	color: #aaa;
	
	text-align: center;
	font-size: 0.8em;
	text-transform: uppercase;
}

#GalleryPath a, #GalleryPath a:link, #GalleryPath a:visited
{
	color: #999;
	text-decoration: none;
}
#GalleryPath a:hover
{
	color: #333;
	background-color: #fff;
	text-decoration: none;
}

.GalleryList
{
	margin: 0px -22px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.GalleryList h3
{
	text-align: center;
}

.GalleryList p
{
	margin: 0px;
	padding: 0px;
	
	color: #666;
}

.GalleryList ul
{
	margin: 0px;
	padding: 0px;
	
	list-style: none;
}

.GalleryList ul li
{
	margin: 0px 20px 20px 0px;
	padding: 0px;
	
	display: inline;
	position: relative;
	float: left;
	
	width: 200px;
	border: 0px solid #fff;
	
	list-style: none;
}

.GalleryList ul li a; .GalleryList ul li a:link; .GalleryList ul li a:visited; .GalleryList ul li a:hover;  
{
	margin: 0px;
	padding: 0px;
	
	border: 0px solid #fff;
}

.GalleryList ul li a img
{
	margin: 0px;
	padding: 0px;
	
	width: 200px;
	height: 75px;
	
	border: 0px solid #fff;
}

.ContactSheet
{
	margin: 0px;
	padding: 0px;
}

.ContactSheet ul
{
	margin: 0px;
	padding: 0px;
	
	list-style: none;
}

.ContactSheet ul li
{
	margin: 0px 10px 20px 10px;
	padding: 0px;
	
	display: inline;
	float: left;
	position: relative;
	
	width: 108px;
}

.Slide
{
	margin: 0px;
	padding: 0px;
	
	position: relative;
	
	width: 108px;
	height: 108px;
}

.Slide a, .Slide a:link, .Slide a:visited
{
	margin: 0px;
	padding: 0px;
	
	display: block;
	
	width: 106px;
	height: 106px;
	
	border: 1px solid #fff;
}
.Slide a:hover
{
	border: 1px solid #882828;
}

.Slide a img
{
	margin: 0px;
	padding: 0px;
	
	
	border-top: 1px solid #666;
	border-left:1px solid #666;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.Slide.vetical a img
{
	margin: 0px 0px 0px 20px;
} 

.Slide.horizontal a img
{
	margin: 20px 0px 0px 0px;
}