<h1>Publications</h1>

<% @publications.each do |publication| %>
  <article id="publication_<%= publication.id %>" class="publication">
    <header>
      <h1><%= publication.title %></h1>
    </header>

    <div class="cover">
      <%= image_tag publication.cover.url %>
    </div>

    <%= publication.description.html_safe %>
  </article>
  <hr />
<% end %>
