<script type="text/javascript">
<!--
function slScoreNudge(amount, id) {
    var fld = getByID(id);
    score = fld.value;
    score.replace(/\+/, '');
    score = parseFloat(score) + amount;
    if (isNaN(score)) score = amount;
    if (score > 10) score = 10;
    if (score < 0) score = 0;
    fld.value = score;
    return false;
}
//-->
</script>

<!-- ip-based lookups -->

<p>
Lookups monitor the source IP addresses and hyperlinks of all incoming feedback.
If a comment or TrackBack comes from a blacklisted IP address or contains a blacklisted domain, it can be held for moderation or scored as junk and placed into the blog's Junk folder.
Additionally, advanced lookups on TrackBack source data can be performed.
</p>

<div class="setting grouped">
<div class="label">IP Address Lookups:</div>
<div class="field">
<ul>
<li><input onclick="toggleSubPrefs(this)" value="0" type="radio" name="ipbl_mode" id="ipbl_mode_moderate" <TMPL_UNLESS NAME=IPBL_MODE>checked="checked"</TMPL_UNLESS> class="rb" /> Off</li>
<li><input onclick="toggleSubPrefs(this)" type="radio" name="ipbl_mode" value="2" <TMPL_IF NAME=IPBL_MODE_2>checked="checked"</TMPL_IF> class="rb" /> Moderate feedback from blacklisted IP addresses</li>
<li><input id="ipbl_mode_junk" onclick="toggleSubPrefs(this);toggleAdvancedPrefs(event,this);" type="radio" name="ipbl_mode" value="1" <TMPL_IF NAME=IPBL_MODE_1>checked="checked"</TMPL_IF> class="rb" /> Junk feedback from blacklisted IP addresses (<a href="#" onclick="return toggleAdvancedPrefs(event,'ipbl_mode_junk')">Adjust scoring</a>)<span id="ipbl_mode_junk-advanced" class="setting-advanced">Score weight:

<a href="#" class="spinner" onclick="return slScoreNudge(-1, 'sl_ipbl_weight')"><!-- <MT_TRANS phrase="Less"> --><img src="<TMPL_VAR NAME=STATIC_URI>images/decrease.gif" alt="<MT_TRANS phrase="Decrease">" width="12" height="8" /></a>
<input type="text" size="3" id="sl_ipbl_weight" name="ipbl_weight" value="<TMPL_VAR NAME=IPBL_WEIGHT ESCAPE=HTML>" />
<a href="#" class="spinner" onclick="return slScoreNudge(1,'sl_ipbl_weight')"><img src="<TMPL_VAR NAME=STATIC_URI>images/increase.gif" alt="<MT_TRANS phrase="Increase">" width="12" height="8" /><!-- <MT_TRANS phrase="More"> --></a>

<!-- <span class="hint">Applies a negative rating to feedback matching this test.</span> -->
</span></li>
</ul>
</div>
</div>

<div id="ipbl_mode-prefs" style="display: <TMPL_IF NAME=IPBL_MODE>block<TMPL_ELSE>none</TMPL_IF>">

<div class="setting">
<div class="label"><label for="sll_ipbl_service">IP Blacklist Services:</label></div>
<div class="field">
<textarea name="ipbl_service" id="sll_ipbl_service" cols="60" rows="2"><TMPL_VAR NAME=IPBL_SERVICE ESCAPE=HTML></textarea>
</div>
</div>

</div>

<!-- domain-based lookups -->


<div class="setting grouped">
<div class="label">Domain Name Lookups:</div>
<div class="field">
<ul>
<li><input onclick="toggleSubPrefs(this)" type="radio" name="domainbl_mode" value="0" <TMPL_UNLESS NAME=DOMAINBL_MODE>checked="checked"</TMPL_UNLESS> class="rb" /> Off</li>
<li><input onclick="toggleSubPrefs(this)" type="radio" name="domainbl_mode" value="2" <TMPL_IF NAME=DOMAINBL_MODE>checked="checked"</TMPL_IF> class="rb" /> Moderate feedback containing blacklisted domains</li>
<li><input onclick="toggleSubPrefs(this);toggleAdvancedPrefs(event,this)" type="radio" id="domainbl_mode_junk" name="domainbl_mode" value="1" <TMPL_IF NAME=DOMAINBL_MODE_1>checked="checked"</TMPL_IF> class="rb" /> Junk feedback containing blacklisted domains (<a href="#" onclick="return toggleAdvancedPrefs(event,'domainbl_mode_junk')">Adjust scoring</a>)<span id="domainbl_mode_junk-advanced" class="setting-advanced">Score weight:

<a href="#" class="spinner" onclick="return slScoreNudge(-1, 'sl_domainbl_weight')"><!-- <MT_TRANS phrase="Less"> --><img src="<TMPL_VAR NAME=STATIC_URI>images/decrease.gif" alt="<MT_TRANS phrase="Decrease">" width="12" height="8" /></a>
<input type="text" size="3" name="domainbl_weight" id="sl_domainbl_weight" value="<TMPL_VAR NAME=DOMAINBL_WEIGHT ESCAPE=HTML>" />
<a href="#" class="spinner" onclick="return slScoreNudge(1,'sl_domainbl_weight')"><img src="<TMPL_VAR NAME=STATIC_URI>images/increase.gif" alt="<MT_TRANS phrase="Increase">" width="12" height="8" /><!-- <MT_TRANS phrase="More"> --></a>

</span></li>
</ul>
</div>
</div>

<div id="domainbl_mode-prefs" style="display: <TMPL_IF NAME=DOMAINBL_MODE>block<TMPL_ELSE>none</TMPL_IF>">

<div class="setting">
<div class="label">Domain Blacklist Services:</div>
<div class="field">
<textarea name="domainbl_service" id="sll_domainbl_service" cols="60" rows="2"><TMPL_VAR NAME=DOMAINBL_SERVICE ESCAPE=HTML></textarea>
</div>
</div>

</div>

<!-- trackback origin test -->


<div class="setting">
<div class="label"><label for="sll_tborigin_enabled">Advanced TrackBack Lookups:</label></div>
<div class="field">
<ul>
<li><input type="radio" name="tborigin_mode" value="0" <TMPL_UNLESS NAME=TBORIGIN_MODE>checked="checked"</TMPL_UNLESS> class="rb" /> Off</li>
<li><input type="radio" name="tborigin_mode" value="1" <TMPL_IF NAME=TBORIGIN_MODE_2>checked="checked"</TMPL_IF> class="rb" /> Moderate TrackBacks from suspicious sources</li>
<li><input type="radio" id="tborigin_mode_junk" name="tborigin_mode" value="1" <TMPL_IF NAME=TBORIGIN_MODE_1>checked="checked"</TMPL_IF> class="rb" onclick="toggleAdvancedPrefs(event,this)" /> Junk TrackBacks from suspicious sources (<a href="#" onclick="return toggleAdvancedPrefs(event,'tborigin_mode_junk')">Adjust scoring</a>)<span id="tborigin_mode_junk-advanced" class="setting-advanced">Score weight:

<a href="#" class="spinner" onclick="return slScoreNudge(-1, 'sl_tborigin_weight')"><!-- <MT_TRANS phrase="Less"> --><img src="<TMPL_VAR NAME=STATIC_URI>images/decrease.gif" alt="<MT_TRANS phrase="Decrease">" width="12" height="8" /></a>
<input type="text" size="3" name="tborigin_weight" id="sl_tborigin_weight" value="<TMPL_VAR NAME=TBORIGIN_WEIGHT ESCAPE=HTML>" />
<a href="#" class="spinner" onclick="return slScoreNudge(1,'sl_tborigin_weight')"><img src="<TMPL_VAR NAME=STATIC_URI>images/increase.gif" alt="<MT_TRANS phrase="Increase">" width="12" height="8" /><!-- <MT_TRANS phrase="More"> --></a>

</span></li>
</ul>
</div>
</div>

<!-- whitelist (applied for all lookups) -->

<p>To prevent lookups for some IP addresses or domains, list them below. Place each entry on a line by itself.</p>

<div class="setting last">
<div class="label" for="sll_whitelist">Lookup Whitelist:</div>
<div class="field">
<textarea name="whitelist" id="sll_whitelist" cols="60" rows="8"><TMPL_VAR NAME=WHITELIST ESCAPE=HTML></textarea>
</div>
</div>
