
<footer class="row">
  <div class="twelve colums">
    <footer>
      <p>Email: <%= mail_to "ewhursthistory@btinternet.com" %> | © <%= Date.current.year %> Ewhurst History Society</p>
    </footer>
  </div>
</footer>
