<div class="row">
  <div class="eight columns offset-by-two">

    <article class="page">
      <h1><%= page_title @page.title %></h1>

      <%= @page.body.html_safe %>

    </article>


    <% @page.attachments.each do |attachment| %>
    <hr />
      <h2><%= link_to attachment.title, attachment.file.url %></h2>
      <%= attachment.description.html_safe %>
    <% end %>

  </div>
</div>
