
<div class="row">
  <div class="span12">
    <h1><%= page_title "News & Events" %></h1>
  </div>
</div>

<div class="row">
  <div class="six columns">
    <h2>Latest</h2>
    <%= render "post", post: @latest_post rescue nil %>
  </div>

  <div class="three columns">
    <h2>Recent</h2>
    <% @recent_posts.each do |post| %>
      <%= render "post", post: post %>
    <% end %>
  </div>

  <div class="three columns">
    <h2>Archive</h2>
    <% @archive.each do |post| %>
      <%= render "post", post: post %>
    <% end %>
  </div>
</div>
