$primary-color: rgba(0, 0, 0, 0.7);
$keyline: 1px solid rgba(0, 0, 0, 0.8);

h1, h2, h3, h4, h5, h6 {
  font-family: "Baskerville Old Face", "Times New Roman", Times, serif; 
  font-weight: normal;

  color: #333;

  a:link, a:hover {
  }
}

h1 {
  margin-bottom: 0;
  font-size: 1.6em
}

h2 {
  margin-bottom: 0;
  font-size: 1.4em;
}

a {
  -webkit-transition: 0.3s;
  border-radius: 3px;
  margin: -3px -6px;
  padding: 3px 6px;

  &:link, &:visited {
    color: #369;
  }
  &:hover {
    color: #000;
    background-color: #eee;
    text-decoration: none;

  }
}

img { margin: 0 auto; max-width: 100% }

nav {
  border-top: $keyline;
  border-bottom: $keyline;

  text-align: center;

  a {
    margin: 0;
    padding: 0 0.8em;
    display: inline-block;
    line-height: 3em;
    border-radius: 0px;

    &:link, &:visited {
      text-decoration: none;
    }
    &:hover {
    }
  }

  &.primary_nav {
  }
  &.secondary_nav {
    border-top: 0px;
  }
}

.subnav {
  /*border-top: $keyline;*/
  /*border-bottom: $keyline;*/

  text-align: center;

  a {
    line-height: 3em;
    display: inline-block;
    padding: 0 0.8em;
    &:link, &:visited {
      text-decoration: none;
    }
    &:hover {
    }
  }
}


.container {
  > header {
    padding: 2rem;
    text-align: center;
  }
  > main {
    margin-top: 2rem;
  }
  > footer {
    clear: both;
    display: block;
    position: relative;

    margin-top: 2em;
    padding-top: 90px;

    background: url(image-path("illustration_houses_west.jpg")) 50% 0% no-repeat;

    p {
      font-size: 0.8em;
      text-align: center;
    }
  }
}

